[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"
unittest-xml-reporting = "*"
pytest-cov = "*"
mixer = "*"
coveralls = "*"

[packages]
django = "*"
dj-database-url = "*"
dj-static = "*"
python-decouple = "*"
psycopg2-binary = "*"
gunicorn = "*"
djangorestframework = "==3.11.2"
djangorestframework-jwt = "*"
drf-yasg = {extras = ["validation"],version = "*"}
coreapi = "*"
packaging = "*"

[requires]
python_version = "3.8.6"
